<!DOCTYPE html>
<html>
<head>
	<title>Mantis | Engage Explore Identify</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<!--NAVIGATION BAR-->
		<nav class="navbar navbar-expand-sm  fixed-top" style="background-color:#29BEAA ;color:white; height: 70px;">
  			<a class="navbar-brand" href="#" style="background-color:#29BEAA ;color:white;">Mantis</a>
  			<ul class="navbar-nav">
   	 		<li class="nav-item">
     		 <a class="nav-link" href="#"style="background-color:#29BEAA ;color:white;float:left;">Link</a>
     		</li>
   			 <li class="nav-item">
    		  <a class="nav-link" href="#"style="background-color:#29BEAA ;color:white;">Link</a>
   			 </li>
 			 </ul>
		</nav>
		<!--Background height-->
		<div class="container" style="background-color: white">
			<section class="col-sm-12" style="height: 70px;background-color: white;">
				
			</section>
			<section class="col-sm-12">
				<img src="<?php echo base_url();?>images/happy.jpg" alt="img" width="1100" height="800" style="margin-left:0px;">
				<form action="<?php echo base_url()?>index.php/gearup/login" method="post"><input style="height: 60px;width: 200px;position: absolute;top: 600px;left: 450px;border-radius: 40px;background-color: blue;border:none;" type="submit" name="GET STARTED"></form>
				<!--button style="height: 60px;width: 200px;position: absolute;top: 600px;left: 450px;border-radius: 40px;background-color: blue;border:none;">GET STARTED</button-->
			</section>
			<section class="col-sm-12" style="height: 10px;background-color: white;">
				
			</section>
			<section class="col-sm-12" style="height: 400px;background-color: #B2E3FB;">
				<div class="col-sm-5" style="float:left;">
					<img src="<?php echo base_url();?>images/buddha.jpg" alt="img" width="350" height="350" style="margin-top:30px;">
				</div>
				<div class="col-sm-7">
					<h2><div style="padding-top:70px;margin-left:500px;">ABOUT&nbspUS</div></h2>
					<p><div style="margin-left: 300px;margin-right:-300px;">We at Mantis will help you reclaim your inner harmony. Our aim is to enable students to find peace and fulfillment in their lives and change things that prevent them from achieving stability because mind is everything.<br>What You Think You Become</div></p>

				</div>
				
			</section>
			<section class="col-sm-12" style="height: 10px;background-color:white;">
				
			</section>
			<section class="col-sm-12" style="background-color: #F9DD9D;height: 800px;">
				WHY US?
			</section>
			<section class="col-sm-12" style="height: 10px;background-color:white;">
				
			</section>
			<section class="col-sm-12" style="height: 400px;background-color: #B2E3FB;">
				TESTIMONIALS
				
			</section>
			<section class="col-sm-12" style="height: 10px;background-color:white;">
				
			</section>
			<section class="col-sm-12" style="background-color: #F9DD9D;height: 400px;">
				BLOGS
			</section>
		</div>
		<div class="container-fluid" style="background-color: #29BEAA">
			<div class="col-sm-3" style="color: white;float: left;">test</div>
			<div class="col-sm-3" style="color: white;float: left;">test</div>
			<div class="col-sm-3" style="color: white;float: left;">test</div>
			<div class="col-sm-3" style="color: white;">&nbsp</div>
			
			
		</div>
		<!--STICKY FOOTER-->
		<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
   	 <div class="container text-center">
      <small>Copyright &copy; Your Website</small>
    </div>
  </footer>


	
</body>
</html>